.Frame4{
  width: 100%;
   height: 100%;
  position: fixed;
}
.BackgroundImage2{
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  position:fixed;
}
.SignUpFrame1{
  width: 50.72916793823242%;
  height: 86.01852416992188%;
  left: 42.29166793823242%;
  top: 6.94444465637207%;
  position: fixed;
  background: white;
  border-top-left-radius:1.406vw;
  border-top-right-radius:1.406vw;
  border-bottom-right-radius: 1.406vw;
  backdrop-filter:blur(1.677vw);
}
.SignUpFrame2{
  width: 35.3125%;
  height: 86.01852416992188%;
  left:6.979166507720947%;
  top: 6.94444465637207%;
  position:fixed;
  background:rgba(21, 203, 192, 0.43);
  border-top-left-radius:1.406vw;
  border-top-right-radius:1.406vw;
  border-bottom-left-radius: 1.406vw;
  backdrop-filter:blur(1.495vw);
}
.MailIdText{
  width: 33.02083206176758%; 
  height: 3.6111111640930176; 
  left: 50%; 
  top: 40.64814758300781%;
  position:fixed;
  opacity: 0.43;
  font-size: 0.938vw;
  font-family:Cocogoose;
  font-weight: 250;
  word-wrap: break-word;
}
input{
  border:none;
  outline:none;
  background:transparent;
  color:#D9D9D9;
  border-bottom:2px solid;
}
.NameText{
  width: 33.02083206176758%; 
  height: 3.6111111640930176%; 
  left: 50%; 
  top: 32.5%; 
  position: fixed;
  opacity: 0.43;
  font-size: 0.938vw;
  font-family:Cocogoose;
  font-weight:250;
  word-wrap:break-word;
}
.UsernameText{
  width: 33.02083206176758%;
  height: 3.6111111640930176%;
  left: 50%;
  top: 48.33333206176758%;
  position:fixed;
  opacity: 0.43;
  font-size: 0.938vw;
  font-family:Cocogoose;
  font-weight: 250;
  word-wrap: break-word;
}
.PasswordText{
  width: 33.02083206176758%;
  height: 3.6111111640930176%;
  left: 50%;
  top: 56.4814794477539%;
  position: fixed;
  opacity: 0.43;
   font-size: 0.938vw;
   font-family: Cocogoose;
   font-weight: 250;
   word-wrap: break-word;
}
.ConfirmPasswordText{
  width: 33.02083206176758%;
  height: 3.6111111640930176%;
  left: 50%;
  top: 64.35185241699219%;
  position: fixed;
  opacity: 0.43;
  font-size: 0.938vw;
  font-family: Cocogoose;
  font-weight: 250;
  word-wrap: break-word;
}
.AgreeTerms{
  left: 51.458335876464844%;
  top: 71.0185165402734%;
  position: fixed;
  opacity: 0.43;
  text-align: center;
  color: black;
  font-size: 0.781vw;
  font-family: Cocogoose;
  font-weight: 250;
  word-wrap: break-word;
}
.TickBox{
  width: 1.1458333730697632%;
  height: 2.037036895751953%;
  left: 49.79166793823242%;
  top: 70.64814758300781%;
  position: fixed;
  opacity: 0.43;
  background: #D9D9D9;
   border-radius: 0.156vw;
   border:1px black solid;
   cursor: pointer;
}
.Inverse{
  left: 8.75%;
  top: 84.25926208496094%;
  position: fixed;
  text-align: center;
}
.SpanInverse{
  color: white;
  font-size: 1.771vw;
  font-family: "Cocogoose";
  font-weight: 400;
  word-wrap: break-word;
}
.SpanDot1{
  color: #15CBC0;
  font-size: 4.688vw;
  font-family: Century Gothic;
  font-weight: 600;
  word-wrap: break-word;
}
.SpanDot2{
  color: #15CBC0;
  font-size: 1.771vw;
  font-family: Cocogoose;
  font-weight: 400;
  word-wrap: break-word;
}
.SignUp{
  left: 12.760416984558105%;
  top: 24.72222137451172%;
  position: fixed;
  text-align: center;
}
.SpanSignUp{
  color: white;
  font-size: 4.688vw;
  font-family: Century Gothic;
  font-weight: 600;
  word-wrap: break-word;
}
.Logo{
  width: 6.770833492279053%;
  height: 11.481481552124023%;
  left: 0%;
  top: 0%;
  position: fixed;
  backdrop-filter: blur(0px);
}
.Hello{
  left: 50.0%;
  top: 15.925926208496094%;
  position: absolute;
  text-align: center;
}
.SpanHello{
  color: black;
  font-size: 3.333vw;
  font-family: Century Gothic;
  font-weight: 600;
  word-wrap: break-word;
}
.SpanEx{
  color: #15CBC0;
  font-size: 3.333vw;
  font-family: Century Gothic;
  font-weight: 600;
  word-wrap: break-word;
}
.Back{
  left: 8.28125%;
  top: 9.629629135131836%;
  position: fixed;
  text-align: center;
  color: white;
  font-size: 1.042vw;
  font-family: Cocogoose;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration: none;
}
.SignUpButton{
  width: 9.0625%;
  height: 4.814814567565918%;
  left: 50.72916793823242%;
  top: 79.90740203857422%;
  position: fixed;
  text-align: center;
  color: white;
  font-size: 1.25vw;
  font-family: Century Gothic;
  font-weight: 31.25vw;
  word-wrap: break-word;
  background: #15CBC0;
  box-shadow: 6px 6px 12.199999809265137px rgba(0, 0, 0, 0.25);
  border-radius: 0.885vw;
  border: none;
  cursor: pointer;
}
.LogInButton{
  width: 9.479166984558105%;
  height: 3.6111111640930176%;
  left: 61.77083206176758%;
  top: 80.64814758300781%;
  position: fixed;
  text-align: center;
  color: #15CBC0;
  font-size: 1.354vw;
  font-family: Century Gothic;
  font-weight: 600;
  word-wrap: break-word;
  text-decoration: none;
}
.Or{
  left: 61.093746185302734%;
  top: 80.55555725097656%;
  position: fixed;
  text-align: center;
  color: rgba(0, 0, 0, 0.34);
  font-size: 1.406vw;
  font-family: Century Gothic;
  font-weight: 600;
  word-wrap: break-word;
}
.InverseQuote{
  width: 19.58333396911621%;
  left: 12.760416984558105%;
  top: 44.16666793823242%;
  position: fixed;
  color: white;
  font-size: 0.99vw;
  font-family: COCOGOOSE;
  font-weight: 250;
  word-wrap: break-word;
}
